/* home page style */

.eyecatch {
    background-image: url(../images/eyecatch.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;
    min-height: 750px;
    position: relative;
    
}

.eyecatch__inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.eyecatch__block {
    width: 50%;
    text-align: center;
    color: #fff;
}

.eyecatch__block-l  img {
    margin: 0 auto;
    max-width: 296px;
}

.eyecatch__block-l img:nth-child(1) {
    max-width: 136px;
    margin-bottom: 50px;
}

.eyecatch__block a:hover img{
    opacity: 0.8;
}

.eyecatch__block-r  img {
    max-width: 375px;
    margin:  0 auto;
}

.eyecatch__block > h1 {
    font-size: 34px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 32px;
    line-height: 42px;
}

.eyecatch__block p {
    font-size: 16px;
    margin-bottom: 60px;
}

.eyecatch__block p:last-of-type{
    margin-bottom: 30px;
}

section.fan-fare {
    position: relative;
    margin: 140px 0px 240px;
}

.fan-fare__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.fan-fare__desc {
    width: 50%;
    padding-top: 50px;
}

.fan-fare__desc img {
    max-width: 343px;
    margin-bottom: 40px;
}

.fan-fare__desc p {
    font-size: 16px;
}

.list-img {
    width: 200%;
    top: 0;
    display: flex;
    align-items: center;
    left: calc(50% + 55px);
    position: absolute;
}

.img__item {
    width: 193px;
    margin-right: 45px;
}

section.point {
    width: 100%;
    padding: 120px 0px;
    position: relative;
}

section.point .container {
    position: relative;
}

.point-title-ab {
    position: absolute;
    right: 25px;
    top: 12%;
    width: 55.5%;
}


.point-bg {
    background-color: #F57627;
}

.point__title img{
    max-width: 404px;
    margin: 0 auto;
}

h3.title__hl {
    font-size: 24px;
    font-weight: 900;
    position: relative;
}

h3.title__hl span {
    display: inline-block;
    margin-bottom: 10px;
    background-color: #fff;
    color: #F57627;
    padding: 3px;
}

.point__content p {
    font-size: 16px;
    color: #fff;
    max-width: 50%;
    margin-top: 30px;
}

.point__bottom {
    margin-top: 75px;
    color: #fff;
    text-align: center;
}

.point__bottom > span {
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    font-size: 14px;
}

.point__bottom p {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 20px;
}

.point__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.point__list li {
    background-color: #fff;
    border-radius: 10px;
    padding:10px;
    width: calc(100%/6 - 20px);
    min-width: 155px;
    margin-right: 20px;
    margin-bottom: 20px;
    min-height: 170px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.point__list li:nth-child(6) {
    margin-right: 0px;
}

.clear-float {
    clear: both;
}

.point__list li img {
    width: auto;
    margin: 0 auto;
}

.point__list li > p {
    color: #000;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.point__content {
    margin-top: 120px;
    position: relative;
}

h3.title__hl-bg span {
    background-color: #F57627;
    color: #fff;
}

.point02 .point__content p {
    color: #000;
}

.point-title-ab-02{
    top: -48px;
    width: 57.5%;
}

.point02__block {
    position: absolute;
    width: 55%;
    min-width: 600px;
    right: 0;
    top: 32%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.point02__block li {
    width: 248px;
    height: 248px;
    border-radius: 50%;
    box-shadow: 0px 10px 20px rgb(0,0,0, 0.16);
    background-color: #fff;

    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    transition: 0.3;
}

.point02__block li:nth-child(2) {
    position: absolute;
    left: 0;
    margin-top: 192px;
}

.point02__block li:nth-child(3) {
    position: absolute;
    right: 0;
    margin-top: 192px;
}

.point02__block li img {
    width: auto;
}

.point02__block li p {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}

.point02__block  span {
    font-size: 14px;
    margin-top: 215px;
    text-align: center;
}

.point02__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 370px;
}

.point02__bottom img {
    width: 45%;
}

.point02__bottom .desc {
    width: 50%;
}

.point02__bottom .desc p {
    font-size: 15px;
    margin-top: 30px;
}

.point__content-r {
    float: right;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: -40px;
    align-items: center;
}

.point__content-r .title {
    max-width: 440px;
    margin-bottom: 17px;
}

.point__content-r > img {
    max-width: 504px;
}

.option {
    margin-top: 55px;
}

.option img {
    width: 100%;
    margin-top: 45px;
}

.option > p {
    font-size: 14px;
    line-height: 24px;
    max-width: 100%;
    color: #fff !important;
}

.text-center {
    text-align: center;
}

section.fan-fare-link {
    background-image: url(../images/bg-fanfare02.jpg);
    background-position: center;
    background-size: cover;
    padding: 140px 0px;
}

.fan-fare-link img {
    max-width: 76px;
    margin:  0 auto;
}

.fan-fare-link  h2 {
    font-size: 34px;
    font-weight: 900;
    margin: 40px 0px 50px;
    line-height: 44px;
    text-align: center;
    color: #fff;
}

.fan-fare-link .link img{
    max-width: 327px;
    margin: 0 auto;
}

.fanfare-register{
    background-image: url(../images/mv_pc_3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 620px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fanfare-register img {
    display: block;
    width: 90px;
    margin-bottom: 40px;
}
.fanfare-register span {
    display: block;
    width: 560px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
.fanfare-register button {
    min-width: 375px;
    height: 72px;
    font-size: 19px;
    font-weight: bold;
    color: #E50012;
    border: none;
    border-radius: 50px;
    background-color: #FFFFFF;
}
.fanfare-register.fanfare-register-top {
    background-image: url(../images/mv_pc_2.png);
}
.fanfare-register.fanfare-register-top button{
    color: #fff;
    background-color: #E50012;
}
.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0px;
}
.faq-title  img{
    max-width: 404px;
    display: block;
}
.list-faq {
    max-width: 867px;
    padding: 0px 25px;
}
.faq-content {
    margin-bottom: 15px;
}
.question-q, .question-a {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.question-a {
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 20px;
    background-color: #EFEFEF;
}
.question-q .icon, .question-a .icon{
    width: 35px;
    height: 35px;
    margin-right: 24px;
}
.question-q .action-minus {
    width: 30px;
    height: 4px;
}
.question-q .action-plus {
    width: 30px;
    height: 30px;
}
.question-q span, .question-a span {
    font-size: 15px;
    line-height: 35px;
    margin-right: 30px;
}
.question-q span {
    font-weight: bold;
}

section.step {
    padding: 140px 0px 0px;
}

.step__title {
    max-width: 544px;
    margin: 0 auto;
}

.step__content {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.step__number {
    width: 16%;
    min-width: 168px;
    padding-left: 30px;
}

.step__number img {
    max-width: 54px;
}

.step__desc-wrap {
    flex: 1;
    
}

.step__desc {
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.step__desc:last-of-type {
    margin-bottom: 0px;
}

.step__desc > img {
    max-width: 37.5%;
}

.step__desc-r {
    flex: 1;
    padding-left: 40px;
}

.step__desc-r span {
    font-size: 28px;
    font-weight: 700;
    color: var(--unnamed-color-f57627);
    display: block;
    margin-bottom: 12px;
}

.step__desc-r > h3 {
    position: relative;
    font-size: 26px;
    color: var(--unnamed-color-f57627);
    display: inline;
}

.step__desc-r > h3 img {
    position: absolute;
    width: 72px;
    left: 100%;
    bottom: 0;
}

.step__check {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.step__desc-r > p {
    padding-left: 30px;
    font-size: 14px;
    line-height: 24px;
}

.step__check > img {
    max-width: 23px;
    margin-right: 8px;
}

.step__check > p {
    font-size: 16px;
    font-weight: 600;
}

@media only screen and (max-width:1100px) {
    .point__list li:nth-child(6) {
        margin-right: 20px;
    }
}

@media only screen and (max-width:767px) {
    .list-faq {
        max-width: 100%;
    }
    .faq-title img {
        max-width: 250px;
    }
    section.step {
        padding: 60px 0px 0px;
    }
    .step__content  {
        margin-top: 40px;
    }
    .step__title {
        max-width: 317px;
    }
    .step__desc {
        margin-bottom: 40px;
        flex-wrap: wrap;
    }
    .step__desc > img {
        max-width: 100%;
    }
    .step__desc-r {
        padding-left: 0px;
        margin-top: 30px;
    }
    .step__desc-r > h3 {
        font-size: 22px;
    }
    .step__check {
        margin-top: 20px;
    }
    .eyecatch  {
        height: auto;
        padding: 95px 0;
        min-height: unset;
    }
    .eyecatch__block  {
        width: 100%;
    }
    .eyecatch__block-l {
        margin-bottom: 43px;
    }
    .eyecatch__block-l img:nth-child(1) {
        max-width: 72px;
        margin-bottom: 25px;
    }
    .eyecatch__block-l img {
        max-width: 230px;
    }
    .eyecatch__block > h1 {
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 20px;
    }
    .eyecatch__block p,
    .eyecatch__block p:last-of-type {
        margin-bottom: 25px;
    }
    .eyecatch__block-r img {
        max-width: 270px;
    }
    .fan-fare__desc {
        width: 100%;
        padding-top: 0px;
        margin-bottom: 40px;
    }
    .fan-fare__inner {
        flex-wrap: wrap;
    }
    .fan-fare__desc img {
        max-width: 258px;
        margin:  0 auto;
        margin-bottom: 35px;
    }
    .list-img {
        position: static;
        justify-content: center;
    }
    section.fan-fare {
        margin: 60px 0px;
    }
    .img__item {
        width: 144px;
        margin: 0 20px;
    }
    .point__title img{
        max-width: 253px;
    }
    .point__list  {
        justify-content: space-between;
    }
    .point__list li {
        min-width: unset;
        width: calc(100%/2 - 10px);
        margin-right: 0px;
        margin-bottom: 15px;
    }
    .point__list li:nth-child(6) {
        margin-right: 0px;
    }
    section.point {
        padding: 40px 0px;
    }
    .point-title-ab {
        right: 25px;
        left: 25px;
        width: auto;
        max-width: 300px;
        top: 4.5%;
    }
    .point-title-ab-02 {
        top: -51px;
    }
    .point__content p {
        max-width: 100%;
    }
    .point__bottom {
        margin-top: 40px;
    }
    .point__content {
        margin-top: 100px;
    }
    .point02__block li {
        width: 168px;
        height: 168px;
        padding: 20px;
    }
    .point02__block li:nth-child(2) img {
        max-width: 90px;
    }
    .point02__block li img {
        max-width: 75px;
    }
    .point02__block li p {
        font-size: 12px;
    }
    .point02__block {
        position: relative;
        margin: 20px auto 0px;
        width: 100%;
        min-width: unset;
        align-items: flex-end;
        max-width: 350px;
    }
    .point02__block li:nth-child(3){
        position: static;
        margin-top: 70px;
    }
    .point02__block li:nth-child(2) {
        margin-top: 120px;
    }
    .point02__block span {
        margin-top: 20px;
    }
    .point02__bottom {
        margin-top: 50px;
        flex-wrap: wrap;
    }

    .point02__bottom img {
        width: 100%;
    }
    .point02__bottom .desc {
        width: 100%;
        margin-top: 25px;
    }
    .point02__bottom .desc h3 {
        text-align: center;
    }
    .point__content-r {
        float: unset;
        width: 100%;
        margin-top: 30px;
    }
}